
<app-greeting></app-greeting>
<!-- <app-login-component></app-login-component> -->
<!--<app-product></app-product>-->
<!-- <app-product-list></app-product-list>
<app-customer></app-customer> -->
<div>
<ul>
  <li><a routerLink="login">Login</a></li>
   <li><a routerLink="product">product</a></li> 
   <li><a routerLink="customer-list">customerList</a></li>
   <li><a routerLink="order">order</a></li>
   <li><a routerLink="category">category</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
<app-footercomponent></app-footercomponent>